body {

    margin: None;
    padding: None;
}
main {
    padding: 16px
}
footer {
    padding: 24px;
    background-color: olive;
}
img {
    height: 200px

}
nav{
    background-color: orangered;
    padding: 16px;
    text-decoration: None;
}
.container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}
a:link {
    color: green;
    text-decoration: None;
}
a:visited {
    color: green;
}

a:hover {
    color:blueviolet;
}
#main{
    color: white;
}
h1{
    color:darkgreen;
}
